:root {
    --rosewater: rgb(245, 224, 220);
    --flamingo: rgb(242, 205, 205);
    --pink: rgb(245, 194, 231);
    --mauve: rgb(203, 166, 247);
    --red: rgb(243, 139, 168);
    --maroon: rgb(235, 160, 172);
    --peach: rgb(250, 179, 135);
    --yellow: rgb(249, 226, 175);
    --green: rgb(166, 227, 161);
    --teal: rgb(148, 226, 213);
    --sky: rgb(137, 220, 235);
    --sapphire: rgb(116, 199, 236);
    --blue: rgb(137, 180, 250);
    --lavender: rgb(180, 190, 254);
    --text: rgb(205, 214, 244);
    --subtext1: rgb(186, 194, 222);
    --subtext0: rgb(166, 173, 200);
    --overlay2: rgb(147, 153, 178);
    --overlay1: rgb(127, 132, 156);
    --overlay0: rgb(108, 112, 134);
    --surface2: rgb(88, 91, 112);
    --surface1: rgb(69, 71, 90);
    --surface0: rgb(40, 41, 54);
    --base: rgb(30, 30, 46);
    --mantle: rgb(24, 24, 37);
    --crust: rgb(17, 17, 27);


    --font-primary: "JetBrainsMono NFP";
    --font-mono: "JetBrainsMono NF";
    --font-icons: "Segoe Fluent Icons";
    --text-primary: var(--text);
    --text-secondary: rgba(205, 214, 244, 0.65);
    --text-small: 12px;
    --text-normal: 12px;
    --text-lg: 14px;
    --text-xl: 16px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-5xl: 48px;
    --text-6xl: 64px;
    --font-normal: 600;
    --font-bold: 700;
    --font-bold-xl: 900;
    --bg-taskbar: rgba(8, 8, 8, 0.65);
    --bg-primary: rgba(8, 8, 8, 0.65);
    --bg-secondary: rgba(28, 30, 29, 1);
    --bg-hover-primary: rgba(255, 255, 255, 0.08);
    --bg-hover-secondary: rgba(255, 255, 255, 0.04);
    --bg-hover-third: rgba(255, 255, 255, 0.12);
    --bg-hover-fourth: rgba(24, 24, 37, 0.212);
    --color-grey: rgba(128, 130, 158, 0.3);
    --color-dark-grey: hsla(236, 13%, 36%, 0.3);
    --color-light-grey: rgba(186, 187, 202, 0.3);
    --color-green: var(--green);
    --color-red: var(--red);
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --margin-md: 8px;
    --padding-label: 0px 2px 2px 2px;
    --padding-menu: 12px 84px 12px 14px;
    --padding-volume: 12px 14px;
    --padding-button: 4px 8px;
    --padding-tooltip: 12px 24px;
}

* {
    font-size: var(--text-normal);
    color: var(--text-primary);
    font-weight: var(--font-bold);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0 8;
    margin: 0;
    background-color: var(--bg-taskbar);
}

.widget {
    padding: 2 8 0 8;
    margin: 4 2;
    border-radius: var(--radius-md);
    background-color: var(--bg-hover-secondary);
}

.widget:hover {
    background-color: var(--bg-hover-primary);
}

.widget .label {
    padding: var(--padding-label);
    font-family: var(--font-primary);
}

.widget .label.alt {}

.icon {
    font-size: 15px;
}

.tooltip {
    padding: var(--padding-tooltip);
    background-color: var(--bg-secondary);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-grey);
    color: var(--text-primary);
    font-size: var(--text-normal);
    font-weight: var(--font-bold);
}

.tooltip {
    background-color: black;
    border: 1px solid #36383a;
    border-radius: 4px;
    color: #a6adc8;
    padding: 6px 12px;
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin-top: 4px;
}


.home-widget {
    padding: 0 12;
}

.home-widget .icon {
    font-size: 14px;
}

.home-menu {
    background-color: var(--bg-primary);
}

.home-menu .menu-item {
    padding: var(--padding-menu);
    font-family: var(--font-mono);
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
}

.home-menu .menu-item:hover {
    background-color: var(--bg-hover-primary);
}

.home-menu .separator {
    max-height: 1px;
    background-color: var(--color-grey);
}


.volume-slider {
    padding: 8px;
}

.audio-menu {
    background-color: var(--bg-primary);
}

.audio-container .device {
    padding: var(--padding-volume);

    font-size: var(--text-normal);
    border: 1px solid transparent;
    border-radius: var(--radius-md);
}

.audio-container .device.selected {
    background-color: var(--bg-hover-secondary);
    border: 1px solid var(--color-grey);
}

.audio-container .device:hover {
    background-color: var(--bg-hover-primary);
}

.volume-widget .progress-circle {}

.volume-widget .label {
    font-size: 16px;
}


.calendar {
    background-color: var(--bg-primary);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: transparent;
    color: var(--text-secondary);
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
    font-size: var(--text-lg);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.calendar .calendar-table::item:selected {
    color: var(--text-primary);
    background-color: var(--bg-hover-primary);
    border-radius: var(--radius-md);
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
    font-family: var(--font-name-primary);
    font-size: var(--text-lg);
    min-width: 250px;
    max-width: 270px;
}

.calendar .week-label,
.calendar .holiday-label {
    font-size: var(--text-normal);
    font-weight: var(--font-bold);
    color: var(--text-secondary);
}

.calendar .holiday-label {
    color: var(--text-primary);
    font-weight: var(--font-bold);
}

.calendar .month-label {
    font-weight: normal;
}

.calendar .date-label {
    font-size: 89px;
    font-weight: var(--font-bold-xl);
    margin-top: -12px;
}


.uptime {
    font-size: var(--text-normal);
    margin-bottom: 48px;
    color: var(--text-primary);
    font-weight: var(--font-bold);
}

.power-menu-widget {
    padding: 2 10 0 10;
}

.power-menu-widget .label {
    font-size: 15px;
}

.power-menu-popup {
    background-color: var(--bg-hover-fourth);
    border-radius: var(--radius-lg);
}

.power-menu-popup .button {
    padding: 0;
    width: 240px;
    height: 120px;
    border-radius: var(--radius-md);
    background-color: var(--bg-hover-secondary);
    font-family: var(--font-primary);
    color: var(--text-primary);
    margin: var(--margin-md);
}

.power-menu-popup .button.hover {
    background-color: var(--bg-hover-third);
}

.power-menu-popup .button .label {
    margin-bottom: var(--margin-md);
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
}

.power-menu-popup .button .icon {
    font-size: var(--text-5xl);
    padding-top: var(--margin-md);
}

.power-menu-popup .button.cancel .icon {
    color: var(--color-green);
}

.power-menu-popup .button.cancel .label {
    color: var(--color-green);
}

.power-menu-popup .button.shutdown .icon {
    color: var(--color-red);
}

.power-menu-popup .button.shutdown .label {
    color: var(--color-red);
}

.power-menu-popup .button.restart .icon {
    color: var(--blue);
}

.power-menu-popup .button.restart .label {
    color: var(--blue);
}

.power-menu-popup .button.signout .icon {
    color: var(--mauve);
}

.power-menu-popup .button.signout .label {
    color: var(--mauve);
}

.power-menu-popup .button.lock .icon {
    color: var(--lavender);
}

.power-menu-popup .button.lock .label {
    color: var(--lavender);
}

.power-menu-popup .button.sleep .icon {
    color: var(--peach);
}

.power-menu-popup .button.sleep .label {
    color: var(--peach);
}

.apps-widget {
    padding: 2 7 0 7;
}

.apps-widget .widget-container {}

.apps-widget .widget-container .label {
    font-size: 14px;
}


.taskbar-widget {
    margin-left: 27px;
}

.taskbar-widget:hover {
    background-color: transparent;
}

.taskbar-widget .app-container {
    border-radius: var(--radius-md);
    padding: 0 7px;
    margin: 0 1px;
}

.taskbar-widget .app-container:hover {
    background-color: var(--bg-hover-primary);
}

.taskbar-widget .app-container.foreground {
    background-color: var(--bg-hover-third);
}

.taskbar-widget .app-container.flashing {
    background-color: var(--color-red);
}

.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}

.taskbar-preview {
    border-radius: var(--radius-md);
    background-color: var(--bg-secondary);
    border: 1px solid var(--color-grey);
}

.taskbar-preview .header {
    padding-bottom: 18px;
    padding-top: var(--margin-md);
}

.taskbar-preview .header .title {
    color: var(--text-primary);
    font-weight: var(--font-bold);
    font-size: var(--text-normal);
}

.systray {
    padding: 0;
}

.systray:hover {
    /* background: transparent; */
}

.systray .unpinned-container {
    border-radius: 0;
    padding: 0;
    background-color: var(--bg-hover-secondary);
    border-radius: var(--radius-md);
}

.systray .pinned-container {
    padding: 0 0 0 4;
}

.systray .button {
    border-radius: var(--radius-md);
    padding: 6;
}

.systray .button .icon {}

.systray .button:hover {
    background-color: var(--bg-hover-primary);
}

.systray .button[dragging="true"] {
    background-color: var(--bg-hover-primary);
    border-color: var(--color-green);
}

.systray .unpinned-visibility-btn {
    border-radius: var(--radius-md);
    padding: 6;
}

.systray .unpinned-visibility-btn:checked {}

.systray .unpinned-visibility-btn:hover {
    background-color: var(--bg-hover-primary);
}

/* Media */
.media-widget {
    padding: 0;
    margin: 4px 4px;
    padding: 0 8px;
    border-radius: var(--radius-md);
    background-color: var(--bg-hover-secondary);
}

.media-widget .label {
    color: var(--text-primary);
    padding: 2px 10px;
    padding-right: 4px;
    font-size: var(--text-small);
}

.media-widget .btn {
    color: var(--text-secondary);
    padding: 0 4px;
    margin: 0;
    font-family: var(--font-icons);
    font-weight: var(--font-normal);
}

.media-widget .btn:hover {
    color: var(--text-primary);
}

.media-widget .btn.play {
    font-size: var(--text-lg);
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: var(--color-light-grey);
    font-size: var(--text-normal);
}

.media-menu {
    min-width: 540px;
    max-width: 540px;
    background-color: var(--bg-primary);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    margin-left: 20px;
    font-family: var(--font-primary);
}

.media-menu .artist {
    font-size: var(--text-normal);
    color: var(--text-secondary);
    margin-top: 4px;
}

.media-menu .source {
    font-size: 11px;
    color: var(--text-secondary);
    border-radius: var(--radius-md);
    background-color: var(--bg-hover-primary);
    padding: var(--padding-button);
    font-weight: var(--font-normal);
    font-family: var(--font-primary);
    margin-top: 10px;
}

.media-menu .btn {
    font-family: var(--font-icons);
    font-size: var(--text-lg);
    font-weight: var(--font-normal);
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}

.media-menu .btn.prev {
    margin-left: 10px;
}

.media-menu .btn:hover {
    color: var(--text-primary);
    background-color: var(--bg-hover-primary);
}

.media-menu .btn.play {
    background-color: var(--bg-hover-primary);
    font-size: 20px;
}

.media-menu .btn.play:hover {
    background-color: var(--bg-hover-third);
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: var(--color-light-grey);
    background-color: transparent;
}

.media-menu .playback-time {
    font-size: var(--text-normal);
    font-family: var(--font-primary);
    color: var(--text-secondary);
    margin-top: 20px;
    min-width: 100px;
}

.media-menu .progress-slider {
    height: 10px;
    margin: 10px 4px 14px 4px;
    border-radius: 2px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 4px;
    border-radius: 2px;
    background: var(--color-grey);
}

.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: var(--color-grey);
}

.media-menu .progress-slider::sub-page {
    background: var(--color-green);
    border-radius: 3px;
    height: 4px;
}

.media-menu .app-volume-container {
    background-color: var(--bg-hover-primary);
    padding: 8px 6px;
    border-radius: 16px;
    margin-left: 10px;
}

.media-menu .app-volume-container .volume-slider::groove {
    background: var(--bg-hover-primary);
    width: 4px;
    border-radius: 2px;
}

.media-menu .app-volume-container .volume-slider::add-page {
    background: var(--color-green);
    border-radius: 2px;
}

.media-menu .app-volume-container .volume-slider::groove:hover {
    background: var(--bg-hover-primary);
    width: 6px;
    border-radius: 3px;
}

.media-menu .app-volume-container .volume-slider::sub-page {
    background: var(--bg-hover-primary);
    border-radius: 3px;
}

.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
    font-size: var(--text-lg);
    color: var(--text-primary);
    font-family: var(--font-icons);
    margin-top: 4px;
}

.media-menu .app-volume-container .unmute-button {
    color: var(--text-secondary);
}


.glazewm-binding-mode {
    background-color: var(--bg-hover-secondary);
}

.glazewm-binding-mode .label {
    margin: 0 0 0 4;
}


.glazewm-workspaces {
    padding: 0;
    background-color: transparent;
}

.glazewm-workspaces:hover {
    background-color: transparent;
}

.glazewm-workspaces .ws-btn {
    background-color: transparent;
    border: none;
    padding: 0 8 0 8;
    margin: 0 2 0 2;
    color: var(--text);
    border-radius: var(--radius-md);
}

.glazewm-workspaces .ws-btn .label {
    padding: 0 4 0 4;
}

.glazewm-workspaces .ws-btn .icon {
    margin: 0 2;
    padding: 0 2;
}

.glazewm-workspaces .ws-btn .icon-1 {
    margin-left: 4;
}

.glazewm-workspaces .ws-btn.active_populated {
    background-color: var(--bg-hover-third);
    opacity: 0.2;
}

.glazewm-workspaces .ws-btn.active_empty {
    background-color: var(--bg-hover-primary);
}

.glazewm-workspaces .ws-btn.populated {
    background-color: var(--bg-hover-secondary);
}

.glazewm-workspaces .ws-btn.empty {}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
    background-color: var(--bg-hover-primary);
}

.glazewm-tiling-direction {
    background-color: transparent;
}

.glazewm-tiling-direction .btn {
    font-size: 18px;
    width: 14px;
    padding: 0 4px 0 4px;
    border: none;
}

.wifi-widget {
    padding: 1 11 0 11;
}

.wifi-widget .widget-container {}

.wifi-widget .widget-container .label {}

.wifi-widget .widget-container .icon {}

.wifi-menu {
    background-color: var(--bg-primary);
    min-height: 420px;
    min-width: 360px;
}

.wifi-menu .progress-bar {
    max-height: 1px;
}

.wifi-menu .progress-bar::chunk {
    background-color: var(--mauve);
}

.wifi-menu .header {
    padding: 16 12;
}

.wifi-menu .error-message {
    margin-bottom: 2px;
    padding: 12px;
    color: var(--base);
    background-color: var(--color-red);
}

.wifi-menu .wifi-list {
    background-color: transparent;
    margin: 3px;
}

.wifi-menu .wifi-item {
    min-height: 48px;
    padding: 2 12;
    margin: 2 4;
    border-radius: var(--radius-md);
}

.wifi-menu .wifi-item:hover {
    background-color: var(--bg-hover-primary);
}

.wifi-menu .wifi-item[active=true] {
    background-color: var(--bg-hover-primary);
    min-height: 88px;
}

.wifi-menu .wifi-item .icon {
    font-family: var(--font-icons);
    font-size: 26px;
    margin: 0 8 8 0;
}

.wifi-menu .wifi-item .name {}

.wifi-menu .wifi-item .password {
    background-color: transparent;
}

.wifi-menu .wifi-item .status {
    font-size: 12px;
}

.wifi-menu .wifi-item .strength {
    font-size: 12px;
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: var(--bg-hover-secondary);
    padding: 4 30;
    border-radius: var(--radius-sm);
}

.wifi-menu .wifi-item .connect:hover {
    background-color: var(--bg-hover-third);
}

.wifi-menu .wifi-item .connect:pressed {
    background-color: var(--bg-hover-fourth);
}

.wifi-menu .footer {
    padding: 16 12;
}

.wifi-menu .footer .settings-button {
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
}

.wifi-menu .footer .refresh-icon {
    font-family: var(--font-icons);
    border-radius: var(--radius-md);
    padding: 8px;
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: var(--bg-hover-primary);
}